/* https://www.materialpalette.com/blue-grey/grey */
:root {
  --header-height: 42px;
}
body {
  margin: 0;
  overflow: hidden;
}
header {
  text-transform: uppercase;
  color: white;
  height: var(--header-height);
  width: 100%;
  background-color: #455a64;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
#main {
  position: absolute;
  top: var(--header-height);
  width: 100%;
  height: calc(100% - var(--header-height));
}
#dat-gui-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
#webgl-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#texture {
  position:absolute;
  bottom:0;
  left:0;
  margin:0;
  padding:0;
  width:400px;
  height:400px;
  z-index: 2;
  background-color:white;
  transition-property: bottom, left;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
#texture.hide {
  bottom:-380px;
  left:-380px;
}
#qrcode {
  z-index: 1;
  position:absolute;
  top:0;
  left:100px;
  width:128px;
  height:128px;
  padding:5px;
  background:white;
}
#qrcode.hide {
  display:none;
}
#webgl-canvas {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
#textures {
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  right:0;
  width:30px;
}
#textures img {
  margin:0;
  padding:0;
  float:left;
  width:30px;
  height:30px;
}
#textures img[src="movie.png"] {
  margin-top:10px;
}
#geometries {
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  left:0;
  width:60px;
  text-align:right;
}
#geometries button {
  width:65px;
  height:30px;
  background-color:white;
  border:1px solid gray;
  margin:0;
}
#foot {
  position:absolute;
  bottom:10px;
  right:10px;
}
#foot a {
  font-size:small;
  text-decoration:none;
  color:white;
}
video {
  z-index:2;
  position:absolute;
  top:10px;
  right:30px;
  transition-property: top, width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
video.hide {
  z-index:0;
  top:190px;
  display:none;
}
